<a href="https://colab.research.google.com/github/Wejdan999/T55/blob/main/training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount ('/content/drive')
%cd '/content/drive/My Drive/T5/week 1/Datasets'

In [ ]:
tfd = pd.read_csv('Traffic.csv')
tfd.info()

In [ ]:
tfd.head(100)

In [ ]:
tfd.describe()

In [ ]:
numerical_columns = tfd[['CarCount','BikeCount','BusCount','TruckCount','Total']]
correlation_matrix = numerical_columns.corr()
print(correlation_matrix)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(5,5))

sns.heatmap(correlation_matrix, annot=True)
plt.title('correlation matrix')
plt.show()

In [ ]:
tfd.head()

In [ ]:
df = tfd.set_index(['Day of the week'])
df.loc[('Monday')]

In [ ]:
grouped_data=tfd.groupby(['Day of the week']).agg(
    Total_cars=('CarCount','sum'),
    Avrage_cars=('CarCount', 'mean'),
    Maximum_cars=('CarCount', 'max'),
    Minmum_cars=('CarCount','min'),
    Count=('CarCount', 'count')
)

grouped_data

In [ ]:
tad=pd.read_csv('Titanic-Dataset.csv')

In [ ]:
 tad['Age'].fillna(tad['Age'].mean , inplace=True)
tad['Age'].isna().sum()

In [ ]:
droping_null= tad.dropna(subset=['Embarked'])

In [ ]:
tad.isna().sum()

In [ ]:
sns.boxplot(tad['Fare'])

In [ ]:
Q1= tad['Fare'].quantile(0.25)
Q3=tad['Fare'].quantile(0.75)
IQR = Q3-Q1
lower_bound= Q1 - 1.5 *IQR
upper_bound= Q3 + 1.5 * IQR
tad2 = tad[(tad['Fare'] >= lower_bound ) & (tad['Fare']<= upper_bound)]
tad2

In [ ]:
sns.boxplot(tad2['Fare'])

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder

In [ ]:
ST_Scaler=StandardScaler()
tad['Fare']= ST_Scaler.fit_transform(tad[['Fare']])
tad['Fare']

In [ ]:
MnMx_scaler= MinMaxScaler()
tad['Age']= MnMx_scaler.fit_transform(tad[['Age']])
tad['Age']

In [ ]:
lable_encoder = LabelEncoder()
tad['Sex_Encoded']= lable_encoder.fit_transform(tad['Sex'])
print(tad[['Sex_Encoded', 'Sex']])